.App {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: 10% 85% 5%; 
}

.App > main {
  height: 100%;
  background: rgb(224, 230, 232);
  overflow-y: scroll;
}