.VacationCard {
  margin: 10px;
  width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 2px 2px 20px rgb(178, 193, 216);
  background-color: inherit;
}

.VacationCard > img {
  max-width: 300px;
  height: 200px;
  border-radius: 10px 10px 0 0;
  opacity: 80%;
}

.VacationCard > h1 {
  position: absolute;
  top: 1px;
  letter-spacing: 15px;
  color: white;
  text-shadow: 0 5px 5px rgb(44, 57, 77);
  text-transform: uppercase;
}

.VacationCard > h3 {
  margin: 10px 0;
  background-color: #ec5990;
  color: black;
}

.VacationCard > h5,
.VacationCard > .bottomContainer > h5 {
  margin: 5px 0;
  color: black;  
}

.VacationCard > p {
  margin: 5px 0;
  padding: 5px;
  color: black;
}

.VacationCard > .bottomContainer > .actionsOnCard > .icon {
  color: black;
}

.VacationCard > .bottomContainer > .actionsOnCard > .icon:hover {
  color: #ec5990;
}

.VacationCard > .bottomContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border-radius: 10px;
    margin: 0;
    padding: 10px;
    height: 20px;
}