.VacationsList > .navlink {
  margin: 0 7px;
  padding: 5px 15px;
  background-color: rgb(224, 230, 232);
  border-radius: 5px;
  text-decoration: none;
}

.VacationsList > .navlink:hover {
  transition: 0.3s;
  box-shadow: 2px 5px 10px #bf1650;
}

.VacationsList > .navlink:active {
  transition: 0.3s;
  box-shadow: 2px 5px 20px #bf1650;
}

.listContainer {
  margin: 20px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
