.Navbar {
  /* background-color: #ec5990; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;

  background: #fff;
  max-width: 800px;
  width: 95%;
}

.Navbar > .nav > span {
  margin: 0 20px;
}

.Navbar > .nav > .navlink {
  margin: 0 7px;
  padding: 5px 15px;

  background-color: rgb(224, 230, 232);
  border-radius: 5px;
  text-decoration: none;
}

.Navbar > .nav > .navlink:hover {
  transition: 0.3s;
  box-shadow: 2px 5px 10px #bf1650;
}

.Navbar > .nav > .navlink:active {
  transition: 0.3s;
  box-shadow: 2px 5px 20px #bf1650;
}
